.ad {
	color: rgb(166,183,196);
	text-decoration: underline;
	font-size: 12px;
	position: relative;
	right: -202px;
}



aside {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-left: 75px;
	margin-top: 50px;
}

.author {
	color: rgb(0,105,182);
	font-size: 12px;
}

.author2 {
	color: rgb(0,105,182);
	text-align: center;
	height: 6px;
}

.avatarbig {
	margin: auto;
	display: block;
}

.imggreyback {
	background-color: rgb(92,104,111);
	height: 13px;
	width: 13px;
	padding: 10px;
}

.date {
	color: rgb(166,183,196);
	text-decoration: underline;
	font-size: 12px;
	margin-left: 5px;
}

.delimiter {
	color: rgb(251,251,251);
}

.featured {
	width: 70%;
	height: 65px;
	border-left: 2px solid rgb(211,211,211);
	font-size: 30px;
	color: rgb(0,105,182);
	margin-top: 30px;
	line-height: 65px;
	padding-left: 20px;
}

footer h2 {
	text-align: center;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 58px;
	margin-bottom: 0px;
	color: rgb(0,50,83);
	line-height: 63px;
}

h5 {
	margin-bottom: 6px;
}

h6 {
	color: rgb(0,50,82);
	text-align: center;
	font-size: 16px;
}

.heading h1 {
	color: white;
	font-size: 100px;
	margin: 100px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
}

.heading {
	width: 70%;
	margin-left: auto;
	margin-right: auto;

}

header {
background-image: url("file:///Users/Aay/code/SurfPaddle/header.jpg");
background-repeat: no-repeat;
height: 600px;
margin-bottom: -50px;
}

.iblogo {
	display: inline-block;
	padding: 20px 300px 0px 10px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	bottom: 15px;
}

.ibaboutsearch {
	display: inline-block;
	padding: 20px 100px 0px 300px;
	font-family: 'Oswald', sans-serif;
	position: relative;
	bottom: 15px;
}

.inlinep {
display: inline;
margin-right: 10px;
margin-left: 10px;
}

.inlinep2 {
display: inline;
}

.logo {
		margin-left: 70px;
}

main {
	display: inline-block;
	width: 48%;
	margin-left: 175px;
}

main img {
	height: 25px;	
	width: 25px;
}

main p {
	font-family: 'Open Sans', sans-serif;
	color: rgb(92,104,111);
	line-height: 25px;
	font-size: 16px;
	margin-top: 10px;
}

main a {
	color: rgb(167,184,196);
}


.read {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;

}

.read p {
	display: inline-block;
	background-color: rgb(160,179,192);
	color: white;
	padding: 5px;
	padding-top: 3px;
	position: relative;
	bottom: 12px;
}

.share {
	background-color: rgb(0,47,78);
	height: 13px;
	width: 13px;
	padding: 10px;
}

section {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgb(160,179,192);
}

section a {
	color: rgb(160,179,192);
}

.sharepost {
	display: inline-block;
	vertical-align: top;
}

.sharepost p {
	display: inline-block;
	background-color: rgb(0,104,181);
	color: white;
	padding: 5px;
	padding-top: 3px;
	position: relative;
	bottom: 12px;
}

.sidebar {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	color: rgb(0,105,182);
}

.social {
	color: rgb(166,183,196);
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
}

.wrap1 {
	height: 0px;
	text-align: center;
	position: relative;
	top: 10px;
}

.wrap3 {
	font-size: 0px;
	vertical-align: top;
	margin-bottom: 40px;
}

.wrap2 {
	vertical-align: top;
	border-bottom: 1px solid rgb(224,231,234)
}

.wrap5 {
	margin-bottom: 40px;
	margin-top: 10px;
}



